<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lihat Semua Kasus - UTS APAP 2023</title>
    <object th:insert="~{fragments/fragment::css}" th:remove="tag"></object>
    <object th:insert="~{fragments/fragment::js}" th:remove="tag"></object>
</head>
<body>
<nav th:replace="~{fragments/fragment::navbar(~{::home})}"></nav>

<div class="container">

    <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

    <table class="table" id="issueTable">
        <thead>
        <tr>
            <th>Issue Id</th>
            <th>Room Number</th>
            <th>Description</th>
            <th>Reported On</th>
            <th>Reported By</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="issueTableBody">
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $.ajax({
            url: '/api/lapor/active', // Ensure the URL is correct
            method: 'GET',
            dataType: 'json',
            success: function(response) {
                if (response.status === 200) {
                    var issues = response.data;
                    var tbody = $('#issueTableBody');
                    tbody.empty(); // Clear any existing content
                    $.each(issues, function(index, issue) {
                        var row = $('<tr>');
                        row.append($('<td>').text(issue.issueId));
                        row.append($('<td>').text(issue.room.roomNumber));
                        row.append($('<td>').text(issue.description));
                        row.append($('<td>').text(issue.reportedOn));
                        row.append($('<td>').text(issue.reportedBy));
                        row.append($('<td>').text(issue.status));
                        row.append($('<td>').text(issue.unresolvedDays));
                        tbody.append(row);
                    });
                } else {
                    alert('Failed to retrieve issues: ' + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert('Error fetching data: ' + error);
            }
        });
    });

    $(document).ready(function() {
        $('#issueTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "pageLength": 8,
            "lengthMenu": [8, 10, 15, 20]
        });
    });
</script>

</body>
</html>
